<div class="modal fade" tabindex="-1" role="dialog" id="authModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">TOTP认证</h4>
      </div>
      <div class="modal-body">
        <form action="javascript:void()">
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" name="code">
          </div>
          <button id="authButton" type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script>
  if(sessionStorage.getItem("verify")) {

  } else {
    $('#authModal').modal({backdrop: 'static', keyboard: false});
    $('#authModal').modal('show');
  }
  $('#authButton').click(function () {
    var code = $("#code").val();
    $.ajax({
      url: "https://liuping.ml:9098/totp/verify",
      type: "POST"
      data: $.param({"code" : code});
      async: false,
      success: function (data) {
        if(data["result"]) {
          $('#authModal').modal('hide');
          sessionStorage.setItem("verify", code);
        }
        else {
          alert("code incorrect!");
        }
      }
    });
  });

</script>
