<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>风中鸷鸟-{{ page.title }}</title>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" >
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" >
    <link rel="apple-touch-icon-precomposed" href="/assets/1403444832169.png" />
    <style>
      body{
          margin:0;
          background-color: black;
          align-self: center;
      }
      video{
          position: fixed;
          right: 0;
          bottom: 0;
          min-width: 100%;
          width: 100%;
          height: auto; 
          z-index: -100; 
          -webkit-filter: grayscale(20%);
      }
      p {
        font-size:40px;
        color:#F00;
        align-self: center;
      }
      </style>
  </head>
  
  <body>
    <p font-size:40px >啥都不是</p>
    <!-- <video id="video" src="/assets/madmax.mp4" muted autoplay="autoplay" playsinline></video>
    <script>
      let video = document.getElementById('video');
      video.addEventListener('ended', function(e) {
        console.log("end");
        window.location.href="/blog/";
      });


    </script> -->
  </body>
</html>
